#secondary-color{
  color: #278ee3 !important;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #278ee3 !important;
}

.navbar-container {
  font-size: 16px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 120px;
}


img {
  border-radius: 5px;
}

* {
  font-family: 'Poppins';
}

a {
    text-decoration: none !important;
}

.page-container {
  display: grid;
  grid-row-gap: 120px;
  padding-bottom: 150px;

  animation: fadeInAnimation 1s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
  margin-left: 15%;
  margin-right: 15%;
}

/* about page */
.about-container {
  display: grid;
  grid-template-columns: 350px auto;
  grid-column-gap: 20px;
}

.about-header {
  font-size: 20px;
  color: #303030;
  align-self: center;
  padding-top: 24px;

  animation: fadeInAnimation 1s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

.ryan-image{
  width: 350px;
  border-radius: 5px;
  transition: all 0.5s;
}


/* home page */

.home-header {
  color:#303030;
  font-size: 24px !important;
  padding-top: 80px;
  padding-bottom: 200px;
  text-align: center;
  animation: fadeInAnimation 1s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 

  background-image: url("images/white_spheres.png");
  background-color: white;


  background-size: contain;

  background-position: center;
  background-repeat: no-repeat;
  
}

.home-header-big-text {
  font-size: 64px; 
  margin-bottom: 12px;
}


.cards-container {
  display: grid;
  grid-row-gap: 64px;
  color: #303030;
  text-align: center;
}

.card-container {
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
  text-align: left;
  display: grid;
  grid-template-columns: 500px auto;
  grid-column-gap: 24px;
  height: 375px;
  box-shadow:  0px 30px 50px #d9d9d9;

  transition: 0.2s;

  animation: fadeInAnimation 1s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

/*
.card-container:hover{
  opacity:1;
  transform: scale(1.04);
  box-shadow:  0px 30px 50px #d9d9d9;
}*/

.card-image {
  justify-self: begin;
  width: 500px;
  height: 375px;
  border-radius: 10px 0px 0px 10px;
  /*background-color: white;*/
  object-fit: cover;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 24px;
}

.card-description {
  font-size: 16px;
  margin-right: 24px;
  align-self: start;
}

.card-button {
  background-color:#278ee3; 
  border: 2px solid #278ee3;
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.25s;
  text-decoration: none !important;
}

.card-button:hover {
  background-color: white!important;
  color: #303030;
}


@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

@media (max-width: 1080px) {

  .about-container{
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 20px;
    grid-template-areas:
      "image"
      "text";   
  }

  .ryan-image{
    grid-area: image;
    justify-self: center;
    max-width: 400px;
    width: 100%;
  }
  .about-header{
    grid-area: text;
  }

  .home-header {
    font-size: 16px !important;
    background-size: cover;
    padding-bottom: 250px;
  }

  .home-header-big-text {
      font-size: 32px;
  }

  .page-container {
    margin-left: 5%;
    margin-right: 5%;
  }

  .navbar-container {
    margin-left: 5%;
    margin-right: 5%;
  }


  .cards-container{
    margin-left: 5%;
    margin-right: 5%;
  }

  .card-container {
    margin: 0 auto;
    max-width: 500px;

    box-shadow: none;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 0px;
    height: auto;
  }

  .card-container:hover{
    transform: scale(1);
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: none;
  }

  .card-image{
    width: 100%;
    max-width: 500px;
    max-height: 375px;
    height: auto;
    border-radius: 10px;
  }

  .card-description {
    margin-bottom: 32px;
  }

  
  .column {
    flex: 100%;
    max-width: 100%;
  }

}





