ul li { font-family: Roboto }

.sub-page-header {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  font-family: Montserrat;
}

.sub-page-text {
  font-size: 18px;
  font-family: Roboto !important;
  color: #6e6e6e;
}

.section-divider {
  padding-top: 120px;
}

.section-container {
  padding-left: 15%;
  padding-right: 15%;
}


/* image gallery */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
}
/* Create four equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 5px;
}

.column img {
  padding-top: 10px;
  vertical-align: middle;
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



@media (max-width: 1000px) {

  .column {
    flex: 100%;
    max-width: 100%;
  }

  .section-container {
  padding-left: 0;
  padding-right: 0;
}
}