* {
  font-family: 'Poppins';
}

h1 {
  font-size: 48px !important;
  text-align: center;
  font-weight: bold !important;
  color: #303030 !important;
  font-family: 'Poppins' !important;
}

h2 {
  font-size: 36px;
  text-align: center;
  font-weight: bold !important;
  color: #303030 !important;
  text-align: left;
}

p {
  font-size: 18px;
  color: #303030;
  margin-bottom: 0px !important;
}

ul{
  font-size: 18px;
  color: #303030;
}

ol{
  font-size: 18px;
  color: #303030;
}

/*delete maybe-----*/
.sub-page-header {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: #303030;
}

.sub-page-text {
  font-size: 18px;
  color: #5c5c5c;
}
/*delete maybe-----*/

.section-divider {
  padding-top: 160px;
}

.header-container {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.disclaimer_container {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #5c5c5c;
}

.section-container {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 64px;
  padding-bottom: 64px;
}


/* image gallery */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
}
/* Create four equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 5px;
}

.column img {
  padding-top: 10px;
  vertical-align: middle;
  width: 100%;
  border-radius: 0px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



@media (max-width: 1000px) {

  .column {
    flex: 100%;
    max-width: 100%;
  }

  .header-container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .section-container {
  padding-left: 5%;
  padding-right: 5%;
}

  .figma-iframe {
    display:none;
    visibility:hidden;
  }
}